

<div class="row" style="margin-bottom:10px; margin-top:70px;">
        <div class='col-12'>  
                <ngb-carousel>  
                    <ng-template ngbSlide>  
                        <img src="../../../assets/img-carousel/carousel1.jpg" class="img-fluid" style=" width: 100%"  alt="Futsal Practice">  
                        <div class="carousel-caption">  
                            <h3 style="color: rgb(255, 255, 255)">Futsal Practice</h3>  
                        </div>  
                    </ng-template>  
                    <ng-template ngbSlide>  
                        <img src="../../../assets/img-carousel/carousel2.jpg" class="img-fluid" style=" width: 100%"  alt="Tennis Practice">  
                        <div class="carousel-caption">  
                            <h3 style="color: rgb(255, 255, 255)">Tennis Practice</h3>  
                        </div>  
                    </ng-template>  
                    <ng-template ngbSlide>  
                        <img src="../../../assets/img-carousel/carousel3.jpg" class="img-fluid" style=" width: 100%"  alt="Basketball Practice">  
                        <div class="carousel-caption">  
                            <h3 style="color: rgb(255, 255, 255)">Basketball Practice</h3>  
                        </div>  
                    </ng-template>  
                </ngb-carousel>  
            </div>  
</div>

          