h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


#my-div .ngui-datetime-picker {
  background-color: rgb(17, 134, 56);
}


.bg-pink {
  background-color: hotpink !important;
}


.ng-autocomplete {
    width: auto;
}